<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Rating Dataset- Analysis and Prediction Project!</title>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"> 
</head>
<body>
    <div class="container">
        <div id="sidebar">
            <h2>We Love Wine!</h2>
            <hr>
            <br>
            <h3>Where do you want to go?:</h3>
            <p><a id='current-link' href='/'>Home</a></p>
            <p><a href='https://public.tableau.com/app/profile/viktor.kabelkov/viz/WineAnalysis_17149494454560/WineInfoDaashboard'>Tableau Dashboard</a></p>
            <p><a href='/endpoint2'>Make a Prediction</a></p>
            <p><a href='https://github.com/Zetaorionis/Capstone_Project.git'>Git Hub Repo</a></p>
        </div>
        <div class="content">
            <div class="images-container">
                <div class="image-container">
                    <img src="../static/img/wine.png" alt="Third Image" width="1200" height="150">
                    <img src="../static/img/word_cloud.png" alt="Wine Word Cloud" width="600" height="470">
                    <video width="600" height="600" controls>
                        <source src="../static/img/mixkit-leaning-glass-on-a-black-background-filled-with-red-wine-22736-medium.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="navigation-container">
                    <h2>Where do you want to go?:</h2>
                    <select id="endpointSelect">
                        <option value="https://public.tableau.com/app/profile/viktor.kabelkov/viz/WineAnalysis_17149494454560/WineInfoDaashboard">Tableau Dashboard</option>
                        <option value="endpoint2">Make a Prediction</option>
                        <option value="https://github.com/Zetaorionis/Capstone_Project.git">GitHub Repo</option>
                    </select>
                    <button onclick="redirectToEndpoint()">Go</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function redirectToEndpoint() {
            var selectElement = document.getElementById("endpointSelect");
            var selectedValue = selectElement.value;
            window.location.href =  selectedValue;
        }
    </script>
</body>
</html>
