<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML User-driven Predictions</title>
      <!-- CSS - Use first link if not using flask, use second link if using flask  -->
<!--   <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="container">
        <div id="sidebar">
            <h2>Vino & Machine Learning: The Perfect Pairing</h2>
            <hr>
            <br>
            <h3>Where do you want to go?:</h3>
            <p><a id='current-link' href='/'>Home</a></p>
            <p><a href='/dashboard'>Tableau Dashboard</a></p>
            <p><a href='/makeprediction'>Make a Prediction</a></p>
            <p><a href='/repo'>Git Hub Repo</a></p>
        </div>

        <div class = "content">
            <div>
                <h2> Let's Make a Prediction</h2>
                <form action="/result2" method="POST">
                    <label for="country">Country: </label>
                    <input type="text" id="country" name="country">
                    <label for="variety">Variety: </label>
                    <input type="text" id="variety" name="variety">
                    <label for="vintage">Vintage: </label>
                    <input type="text" id="vintage" name="vintage">
                    <label for="price">Price: </label>
                    <input type="text" id="price" name="price">
                <!-- 	<br>
                    <label for="w_class">Working Class</label>
                    <select id="w_class" name="w_class">
                    <option value="0">Federal-gov</option>
                    <option value="1">Local-gov</option>
                    <option value="2">Never-worked</option>
                    <option value="3">Private</option>
                    <option value="4">Self-emp-inc</option>
                    <option value="5">Self-emp-not-inc</option>
                    <option value="6">State-gov</option>
                    <option value="7">Without-pay</option>
                    </select> -->
                        <br>
                    <input type="submit" value="Make Prediction">
                </form> 
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/confusion_matrix.png') }}" alt="Confusion Matrix", height =500>
            </div>

            <hr> 
            <div class="navigation-container">
                <h2>Where do you want to go?:</h2>
                <select id="endpointSelect">
                    <option value="dashboard">Tableau Dashboard</option>
                    <option value="makeprediction">Make a Prediction</option>
                    <option value="repo">GitHub Repo</option>
                </select>
                <button onclick="redirectToEndpoint()">Go</button>
            </div>
        </div>
    </div>

    <script>
        function redirectToEndpoint() {
            var selectElement = document.getElementById("endpointSelect");
            var selectedValue = selectElement.value;
            window.location.href = "/" + selectedValue;
        }
    </script>
</body>

<!-- HTML !-->

</html>
