html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #D2B48C;
  background-image: url('../img/Wine_background.png'); 
  background-size: cover; 
  height: 100%;
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-container img {
  margin: 0 5px;
}

.navigation-container {
  text-align: center;
  
}
.navigation-container select,
.navigation-container button {
    margin-top: 10px;
}

.image-container img:nth-child(2) {
  margin-top: 130px; 
}
.image-container img:nth-child(3) {
  margin-top: 135px; 
}
.images-container img:first-child {
  position: absolute;
  top: 0;
  left: 210px;
}
#sidebar {
  flex: 0 0 150px;
  background-color:#800020;
  color: #F8F8FF;
  padding: 20px;
}
.content {
  flex: 1;
  padding: 20px;
}
.container {
  display: flex;
  width: 80%;
  height:100%;
}
#sidebar p {
  display: block;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.3em;
}

#sidebar a:active {
  color: rgb(0, 170, 255);
}

#sidebar a, a:visited {
  color: #F8F8FF;
}

#sidebar a:hover {
  color: #D2B48C;
}

#sidebar h3,
#sidebar h2 {
  margin: 10px;
  text-align: center;
}


